.del{
    justify-content: center;
    color: #b4acac;
    align-items: center;
    background: #ffffff;
   
}

.card{
    border-color: #000;
    border-radius: 3px;
    border: 1px;
    border-bottom: 0px;

    flex-direction:column;
    justify-content: stretch;
    align-items: center;

}